# Strapi Configuration
HOST=0.0.0.0
PORT=1337
APP_KEYS=crum-blog-app-keys-1,crum-blog-app-keys-2,crum-blog-app-keys-3,crum-blog-app-keys-4
API_TOKEN_SALT=crum-blog-api-token-salt
ADMIN_JWT_SECRET=crum-blog-admin-jwt-secret
TRANSFER_TOKEN_SALT=crum-blog-transfer-token-salt
JWT_SECRET=crum-blog-jwt-secret

# Database
DATABASE_CLIENT=sqlite
DATABASE_FILENAME=.tmp/data.db

# Frontend URL
FRONTEND_URL=http://localhost:3000

# Node Environment
NODE_ENV=development
